######
# 安装步骤：
#   - 将 service 文件放到正确的目录
#       `sudo cp AI-detection.service /etc/systemd/system/`
#   - 设置文件权限
#       `sudo chmod 644 /etc/systemd/system/AI-detection.service`
#   - 重新加载 systemd 配置
#       `sudo systemctl daemon-reload`
#   - 设置开机自启
#       `sudo systemctl enable AI-detection`
#
######
[Unit] 
# 服务描述 
Description=AI检测平台服务
# 服务依赖于网络             
Wants=network-online.target
After=network-online.target 
 
[Service]
#启动bash脚本必须设定为forking类型 
Type=forking
# 服务开启时执行脚本，替换成真正的启动路径
ExecStart=/home/lenovo/AI-detection/start.sh
# 启用用户,替换成真正的用户
User=lenovo
# 在什么情况下会自动重启
#Restart=on-failure                     
 
[Install] 
WantedBy=multi-user.target